{% include 'header.html' %}
			<h1 class="title-left">About Us</h1>
			<p class="row">
				<h5 class="subheading-left">Our Vision</h5>
                <p class="text-left">To become the leading early childhood center of choice for young children, providing family-friendly service, direction, and collaborative liaisons for a diverse community.</p>
				<h5 class="subheading-left">Our Mission</h5>
                <p class="text-left">To support quality early childhood education and related services, while striving to empower young children through family-friendly support and education.</p>
                <p class="text-left">We endeavor to fulfill that mission each day and year by:</p>
				<ul>
					<li class="text-left">Providing resources and information to teachers, families, and the community regarding early childhood issues.</li>
					<li class="text-left">Forming meaningful collaborations with teachers, families, community, and other interested agencies.</li>
					<li class="text-left">Becoming advocates for our young children and their families.</li>
				</ul>
			    <h5 class="subheading-left">Our History</h5>
			    <p class="text-left">Mt. Prospect Child Care Center has been family owned and operated for over 55 years. The program has grown to encompass a variety of children's programs, including preschool, drop-in, and summer camp.</p>
			  <h5 class="subheading-left"><a href="{{ url_for( 'ourstaff' ) }}">Our Staff </a></h5>
			  <p class="text-left">Many of our teachers have been with the center for over 20 years. They are all CPR and first aid certified, and complete more than the required 15 hours of continuing education  annually. &#13;Click on the link to read more about our wonderful staff! </p>
			<!-- #End Body -->
{% include 'footer.html' %}