{% include 'header.html' %}
    <!-- #Begin Body -->
    <h1 class="title">Frequently Asked Questions</h1>
    <ol>
        <li>What are your hours?</li>
            <p class="answer">Mt Prospect Child Care Center Inc. is open from 7a.m. until 6p.m. Monday through Friday.</p>
        <li>What is the teacher/child ratio?</li>
        <p class="answer">The Toddler ratio is 1:5, one teacher to every five toddlers.
            <br>The Two Yr. old ratio is 1:8, one teacher to every eight Two year olds.
            <br>The Preschool ratio is 1:10, one teacher to every ten preschoolers</p>
        <li>What do I need to bring on our first day?</li>
            <p class="answer">Depending on the age of your child, the needed materials may vary. Everything must be labeled with your child’s first and last name.
                <br><br>Toddler parents should provide diapers, wipes, extra clothes, an art smock, and napping items.  Sippy cups are provided
                <br><br>Two year old parents should provide potty training supplies (depending on progress; diapers, pull-ups or underwear), wipes, extra clothes, napping items, and an art smock.
                <br><br>Preschool parents should provide extra clothes (including underwear), napping items, and an art smock.</p>
        <li>Do you offer full time care only? Part time care?</li>
            <p class="answer">Mt Prospect Child Care Center Inc. offers full time and part time care. We are happy to accommodate almost any schedule. Our half day programs are typically morning only. We also provide before and after school care, for all children attending District 57. School Buses stop at our center morning and afternoon.
                <br>Rates do vary according to how many days your child attends.</p>
        <li>Are meals included?</li>
            <p class="answer">Mt Prospect Child Care Center Inc. has a fully equipped NSF kitchen, and  provides a hot lunch and three snacks daily. At lunch, a nutritious meal is provided that  includes a fruit, vegetable, and milk. Morning snack includes crackers or  fruit. There is an afternoon snack  served after naptime, and a fresh fruit evening snack@ 4:45 P.M. Breakfast is available upon request for the early arrivers, up to 8:30A.M. </p>
        <li>What safety and security measures are offered?</li>
            <p class="answer">Mt Prospect Child Care Center Inc. has a fully enclosed, fenced playground on-site. We also have a keyless entry system with a pass code. All staff is CPR and first-aid certified.</p>
        <li>What holidays are you closed?</li>
            <p class="answer">The holidays in which we are closed include:</p>
            <ul>
                <li class="answer-item">New Years Day</li>
                <li class="answer-item">Memorial Day</li>
                <li class="answer-item">Independence Day</li>
                <li class="answer-item">Labor Day<</li>
                <li class="answer-item">Thanksgiving Day / the day after Thanksgiving</li>
                <li class="answer-item">Christmas Day / the day before/after</li>
            </ul>
        <li>Is payment weekly or monthly?</li>
            <p class="answer">Mt Prospect Child Care Center Inc. does offers automatic monthly payment to a credit card on file, as well as weekly or bi-weekly payments by check.</p>
        <li>What are your staff qualifications?</li>
            <p class="answer">All the staff at Mt Prospect Child Care Center Inc. is CPR and First Aid certified. The director has a level 3 Illinois Directors Credential and M. Ed. All lead teachers hold an associates or better in early childhood education. We follow the Department of Children and Family services in regards to Lead Teacher and Assistant Teacher qualifications. They all have a great deal of experience with children, and participate in on-going continuing education sessions, all above minimum 15 in-service hours required. </p>
        <li>What special activities do you offer?</li>
            <p class="answer">Fire Safety Week, Early Literacy Incentive Program, Social Event, Holiday Program, Week of the Young Child, Music Scholars, and a very exciting summer camp program.</p>
    </ol>
    <!-- #End Body -->
    <!-- Footer begins here -->
{% include 'footer.html' %}