</body>
<footer>
   	<div id="footer" class="footer-container">
		<p>Copyright © 2024 Mount Prospect Child Care Center, Inc. All Rights Reserved.  Website Maintenance by <a href="http://www.bytemeusa.com" target="_blank">Byte Me!</a></p>
		<p>Website redesign by Victoria Parrello 2024</p>
        <p>
		<a title="Copy and Paste the email address to your email editor to send me mail."> info<code>@</code>mpccc.net</a> |
		<a href="privacy-policy.html" title="Privacy Policy.">Privacy Policy</a>
		<img class="footerimg" src="static/images/visamc.jpg" > Accepted</p>
	</div>
</footer>
</html>
