{% include 'header.html' %}
<section>
    <img class="backpic" src="static\images\childrenplaying.jpg">
    <div class="container container-masthead">
        <div class="masthead-text">
            <h3 class="">"Wee care" <br> when you're not there!</h3>
            <a class="button btn">Register Now</a>
        </div>
    </div>
</section>
<section class="filler">
    <br>
        <br>

</section>
<!--
<section class="primary-section">
    <div class="container">
        <div class="row">
            <h1>Learning through play</h1>
            <p>“Learning through play - play with a purpose is the work of young children.”
             Mt. Prospect Child Care Center offers a progressive, well-equipped center, featuring full and part-time programs for children 15 months through 10 years.
             Our center provides separate, age specific programs and supervised indoor and outdoor activities.  We have a fully enclosed, on-site playground, with state of the art safety grass.  Children are taught both academic and interpersonal skills, confidence, and social awareness with emphasis on learning through play.</p>
        </div>
         </div>
</section>
-->
{% include 'footer.html' %}
