{% include 'header.html' %}
	<div class="container-fluid">
        <!-- #Begin Body -->
        <h1 class="title">Welcome to Mount Prospect Child Care Center</h1>
        <div class="row">
            <div class="col-md">
                <h5 class="subheading">“Learning through play - play with a purpose is the work of young children.”</h5>
                <p>Mt. Prospect Child Care Center offers a progressive, well-equipped center, featuring full and part-time programs for children 15 months through 10 years.</p>
                <p>Our center provides separate, age specific programs and supervised indoor and outdoor activities. We have a fully enclosed, on-site playground, with state of the art safety grass.&nbsp; Children are taught both academic and interpersonal skills, confidence, and social awareness with emphasis on <strong>learning through play.</strong></p>
                <i class="fa-brands fa-facebook"></i><a href="http://www.facebook.com/pages/Mount-Prospect-Child-Care-Center/108858377805#!/pages/Mount-Prospect-Child-Care-Center/108858377805?sk=info" target="_blank">Like us on Facebook! </a></p>
            </div>
            <div class="col-md">
                <img src="static/images/kids in schoolyard sm.jpg" alt="kids in school yard"/>
                <a href="http://www.experiencemountprospect.org/index.aspx?page=552" target="_blank"><img src="static/images/video snapshot.jpg" alt="link to video"/></a>
                <p><a href="http://www.experiencemountprospect.org/index.aspx?page=552" target="_blank">Click to view our video!</a> </p>
            </div>
            <div class="col-lg">
                <h5 class="subheading">The center has been recognized by the Daily Herald as “The best daycare in Mt Prospect.”</h5>
                <div  id="bordered-column">
                    <h6 class="subheading">What our parents and Former Parents Have to Say...</h6>
                    <p>The wonderful family like atmosphere you have there is priceless and we are   constantly reminded how happy we were that our son had the opportunity to be   there...</p>
                    <p> - The S Family </p>
                    <p>We love the fact that our son interacts with kids of all ages, and knows all the teachers quite well. </p>
                    <p> - The D Family </p>
                    <p>This was not our first day care experience, but it will  definitely be the last. I think the best testament to the quality of care is  the consistency of the staff members, several of whom have been here for more  than ten years. Many places have a revolving door creating constant transition  for the children – here it’s been the opposite. My kids have a special bond  with all of the teachers.</p>
                    <p> - The W Family </p>
                </div>
            </div>
        </div>
        <!-- #End Body -->
		<!-- Main Content ends here -->
	</div>
{% include 'footer.html' %}