{% include 'header.html' %}
<!-- #Begin Body -->
<h1 class="title-left">Our Staff</h1>
<p class="text-left"><strong>Ms. Anne Marie</strong>
has been working at Mt Prospect Childcare Center for 5 years. She
typically works with the older pre-school children, as well as the
kindergarteners who attend for before or after school care. She has an
early childhood degree and has worked with special needs children, as
well as in a Headstart program. She spent 7 years as a Girl Scout
leader. In her free time, she enjoys gardening, cooking, baking, and
attending concerts. </p>
<p class="text-left"><strong>Ms. Tracy</strong>
began working at Mt Prospect Childcare Center in 1986. In 1994, she
took a break to stay home with her 3 daughters, and returned to the
center in 2006. Ms Tracy is the pre-school teacher for the 3s and young
4s class. She has an Associates Degree in child development. In her
free time, she enjoys spending time with her dog Molly, taking
vacations with her family, and playing cards with friends. </p>
<p class="text-left"><strong>Ms. Carol </strong>has
been a teacher at Mt Prospect Childcare Center for 28 years! She
typically works with the youngest group of children (15 months to 2
years). She has two sons and two granddaughters whom she loves to spend
time with. In her free time, she loves to garden.</p>
<p class="text-left"><strong>Ms. Katie </strong>started
working at Mt Prospect Childcare last year, upon completion of her High
School's "preschool program," which included 4 years of child
development. She works most often with the 2s and young 3s. She loves
sports, and currently coaches a community cheerleading team in her free
time. She also loves to cook and work on cars! </p>
<p class="text-left"><strong>Ms. Lindsey </strong>has been with Mt Prospect Childcare since the beginning of the 2011/2012 school year. </p>
			<!-- #End Body -->
{% include 'footer.html' %}