{% include 'header.html' %}
    <!-- #Begin Body -->
    <h1 class="title">Programs</h1>
<div class="row">
  <div class="col-lg">
    <h4 class="subheading">Toddlers and 2’s</h4>
    <h6 class="subheading" id="Toddlers">Toddlers</h6>
      <p class="">Children may enter this classroom  at 15 months of age. Exploration, curiosity, and hands-on learning are the  primary focus in this age group. Socialization begins and their language skills  emerge. Reading stories, playing music, singing, and fine motor activities enhance  their language ability.</p>
      <p class="">Hands-on play with water, play  dough, paint, crayons, blocks, pegs, etc., fosters their creativity and  intellectual capabilities.</p>
      <p class=""><a href="http://www.cdc.gov/ncbddd/actearly/milestones/milestones-2yr.html" target="_blank">2 year old milestones</a></p>
    <h6 class="subheading" id="2yearolds">2 Year Olds</h6>
      <p class="">Children in this classroom are  already two or will turn two soon. Focus is on getting along with others,  enhancing language ability, and beginning to learn colors, shapes, sizes, and  letters. Puzzles, pegs, crayons, paint, glue, and glitter are all experimented  with. Following direction is emphasized along with self-help skills. Children  start to learn to put on shoes/coats.</p>
      <p class="">Toilet  training/potty training begins. Staff and parents work closely and communicate  frequently to make the transition easier. Diapers and/or pull-ups are provided  by parents. Children have scheduled changes/potty breaks. Children are immediately  changed upon soiling of diaper. </p>
      <p class=""><a href="http://www.cdc.gov/ncbddd/actearly/milestones/milestones-3yr.html" target="_blank">3 year old milestones</a></p>
    <h4 class="subheading" id="Preschool">Pre-School</h4>
    <h6 class="subheading">3s/4s</h6>
      <p>In order to be in this  classroom, children must be toilet trained. Focus is centered on cognitive skills  such as letters, numbers, days of the week, months of the year, phone number,  address, etc.</p>
      <p>Creativity is fostered through  free-choice play, dramatic play area, role-playing, music, blocks, and art  projects. Socialization  develops as children begin to assemble and play together in small groups.  Problem-solving techniques are explored and with caregiver guidance, children  learn to express themselves more freely.</p>
      <p>Physical  development includes large muscle play and small motor skill activities such as  working with scissors, small puzzles, small manipulatives, books, etc. Children  are able to put on coat/shoes by themselves.</p>
      <p>Group dynamics begin as children  become more considerate of others and follow directions well. Table manners  and social skills are emphasized.</p>
      <p><a href="http://www.cdc.gov/ncbddd/actearly/milestones/milestones-4yr.html" target="_blank">4 year old milestones</a></p>
    <h6 class="subheading">4s/5s</h6>
      <p>Children in this classroom are  four to five years old and begin to make the transition from preschool to  kindergarten. </p>
      <p>To  build upon their previous cognitive skills, we focus on teaching them to print.  This includes letters, numbers, their id, address, and phone number. They  learn letter sounds and begin to identify letter sounds with words. Their  language base grows. Their understanding of opposites is reinforced along with  their understanding of past, present, and future. Children  are taught to tie shoes and their fine motor skills are challenged through  age-appropriate puzzles and manipulatives. Math  and science are incorporated through play and classroom projects.</p>
      <p>Group  dynamics are built upon as children become even more aware of being considerate  to others and adapting to the rules of the classroom.</p>
      <p><a href="http://www.cdc.gov/ncbddd/actearly/milestones/milestones-5yr.html" target="_blank">5 year old milestones</a></p>
  </div>
  <div class="col-lg">
    <img class="programimg" src="static/images/concert america small.JPG" alt="concert america pic" />
    <img class="programimg" src="static/images/concert mama paquita small.JPG" alt="concert mama paquita"/>
    <h4 class="subheading" id="Kindergarten">Kindergarten Before/After Care- District 57</h4>
      <p>Mt Prospect Childcare Center offers before and/or after school care for kindergarteners in District 57. The bus picks up and drops off students at the center in the morning, at lunchtime, and in the afternoon. Staff work with the kindergarten students to review and enforce concepts learned in school. Students also participate in outdoor play and other physical activities.</p>
    <h4 class="subheading" id="1st2ndGrade">First Grade Before/After Care- District 57</h4>
      <p>Need a place for your older child before and after school? Mt Prospect Childcare Center also offers care for first graders in District 57. The bus will pick them up in the morning and drop them off in the afternoon. The pre-school students love to have their older friends show off their new reading skills! Students also participate in outdoor play and other physical activity that takes place in the late afternoon. </p>
    <h4 class="subheading" id="SummerCamp">Summer Camp</h4>
    <p>Our 10-week summer camp program is available for children 3 to 10 years of age from June to August.</p>
    <p>Registration begins in April</p>
    <p><a class="programlinks" href="static/documents/summer enrollment form.pdf" target="_blank">Enrollment Form</a></p>
    <p><a class="programlinks" href="static/documents/summer camp form.pdf" target="_blank">Registration and Consent Form </a></p>
    <p class="">A typical week of camp looks like this : </p>
    <ul>
      <li class="text-left"><strong>Monday</strong>- Introduce theme of the week, art projects</li>
      <li class="text-left"><strong>Tuesday</strong>- Swimming at Big Surf</li>
      <li class="text-left"><strong>Wednesday</strong>- Field Trip!* </li>
      <li class="text-left"><strong>Thursday</strong>- Swimming at Big Surf</li>
      <li class="text-left"><strong>Friday</strong>- Music Scholars</li>
    </ul>
    <p><a href="">Camp Schedule (password protected)</a></p>
    <p>*Most field trips are walking trips and include places like: Greco's Dog Groomer, Capannari's Ice Cream, YMCA, and the Fire Station</p>
    <p>2-3 bus and or train trips are planned each summer, with visits to Metropolis Performing Arts, Edison Park, Kohl Children's Museum  </p>
  </div>
</div>
<!-- #End Body -->
<!-- Footer begins here -->
{% include 'footer.html' %}
