{% include 'header.html' %}
			<!-- #Begin Body -->
			<h1 class="title">For Prospective Parents</h1>
			  <p><strong>Tuition ranges from $319-$350 per week full time*</strong></p>
			<p><a href="{{ url_for( 'faq' ) }}" class="programlinks">Frequently Asked Questions</a></p>
			<p><a href="static/documents/DAILY SCHEDULE OF ACTIVITIES.pdf" target="_blank" class="programlinks">Sample daily schedule</a></p>
			<p class=""><a href="static/documents/long enrollment form.pdf" target="_blank" class="programlinks">Link to enrollment form</a></p>
			<p class="">*Part-time options are offered at the discretion of the director</p>
			<!-- #End Body -->
	<!-- Footer begins here -->
{% include 'footer.html' %}