{% include 'header.html' %}
			<!-- #Begin Body -->
			<h1 class="title-left">Resources</h1>
			<p class="resource"><a href="http://www.dailyherald.com/article/20110613/entlife/706139981/" target="_blank">How to identify potential problems in young kids</a><br />
			<p class="resource"><a href="http://www.dailyherald.com/article/20110613/entlife/706139983/" target="_blank">"How is your child developing?" screening checklist</a></p>
			<p class="resource">Ages &amp; Stages Screening Tool</p>
			<p class="resource"><a href="http://www.dhs.state.il.us/page.aspx?item=31183" target="_blank">Illinois Early Intervention</a></p>
			<p class="resource"><a href="www.isbe.net" target="_blank">		    Illinois State Board of Education</a></p>
			<p class="resource"><a href="http://www.d57.org/" target="_blank">Mt Prospect School District 57</a></p>
			<p class="resource">			  <a href="http://www.ccsd59.org/" target="_blank">Community Consolidated School District 59</a></p>
			<p class="resource">			  <a href="https://www.rtsd26.org/Pages/Default.aspx" target="_blank">River Trails School District 26</a></p>
			<p class="resource"><a href="http://www.d62.org/" target="_blank">Des Plaines School 			  District 62</a></p>
			<p class="resource"><a href="http://www.healthychildren.org/" target="_blank">Healthychildren.org</a> </p>
			<p class="resource">			  <a href="http://www.entnet.org/HealthInformation/Choking-Campaign.cfm" target="_blank">Choking Hazards Campaign</a></p>
			<p class="resource">			  <a href="http://www.healthychildren.org/English/health-issues/conditions/obesity/Pages/default.aspx" target="_blank">Childhood Obesity&nbsp;Resources</a></p>
			<p class="resource">			  <a href="www.naeyc.org" target="_blank">National Association for the Eduation of Young Children</a></p>
			<p class="resource"><a href="http://www.necpa.net/" target="_blank">National Early Childhood Program Accreditation</a></p>
			<p class="resource"><a href="http://www.naccp.org/" target="_blank">National Association of Child Care Professionals </a></p>
			<p class="resource"><a href="http://www.naccp.org/displaycommon.cfm?an=1&amp;subarticlenbr=185" target="_blank">National Accreditation Commission for Early Care and Education Programs</a></p>
			<!-- #End Body -->
	<!-- Footer begins here -->
{% include 'footer.html' %}